<%- partial("../common/header") %>

<% var actions = ["canAdd","canEdit","canView","canPublish", "canDelete", "canArchive"]; %>
<div class="page-wrap">

  <% flash.get("error").forEach(function (message) { %>
    <%- message %>
  <% }) %>


  <div class="wrap">
    <div class="page-header">
      <h1 class="page-title">Edit Image</h1>
    </div>

    <form id="add-new-role-form" action="/roles" method="POST" class="form wrap">
      <input type="hidden" name="appId" value="<%- req.param('app_id') %>" />
      <div class="primary">
        <div class="field">
          <img src="http://wallpoper.com/images/00/27/35/85/nature-flowers_00273585.jpg" alt="" />
        </div>

        <div class="field">
          <label>Name<span class="required">*</span></label>
          <input type="text" name="name" class="value" />
        </div>

        <div class="field">
          <label>Description</label>
          <input type="text" name="description" class="value" />
        </div>
        <hr>
        <h2 class="page-title-2">Permission</h2>
        <div class="field">
          <label class="checkbox"><input type="checkbox" name="manageApps" value="value">Make it Public</label>
        </div>
      </div>

      <div class="actions">
        <div class="field">
          <input type="submit" value="Save" class="primary-button save-button" />
        </div>
        <hr>
        <div class="history">
          <div class="field">
            <label>Last updated</label>
            <div class="normal-text">date</div>
          </div>
          <div class="field">
            <label>Created</label>
            <div class="normal-text">date</div>
          </div>
          <div class="field">
            <a href="#"><span class="ico ico-clock3"></span>View edit history</a>
          </div>
        </div>
        <hr>
        <div class="field">
          <a href="#" class="delete-button"><span class="ico ico-trash"></span>Delete this role</a>
        </div>
      </div>
    </form>

  </div>
</div>
