<div class="error-container">
  <h1 class="error-big-text">500</h1><br>
  <h1 class="error-small-text">Opps..</h1><br>
  <div class="back">
    <a href="#" class="primary-button">Back to Homepage</a>
  </div>
</div>
