<div class="container">
  <a href="#" class="button primary round-corner">SAdfjdskjfhsdjfhdsfjkshfkjshfskjhfVE</a><br><br>
  <button type="button" name="button" class="button primary round-corner">SAVE</button>
  <a href="#" class="button primary round-corner">ok</a><br><br>
  <button type="button" name="button" class="button primary round-corner">SAVE</button>
  <br><br><br>

  <a href="#" class="button cta round-corner">SAdfjdskjfhsdjfhdsfjkshfkjshfskjhfVE</a><br><br>
  <button type="button" name="button" class="button cta round-corner">SAVE</button>
  <a href="#" class="button cta round-corner">ok</a><br><br>
  <button type="button" name="button" class="button cta round-corner">SIGN IN WITH GOOGLE</button>
</div>
