<div class="container">
  <a href="#" class="primary-button">SAdfjdskjfhsdjfhdsfjkshfkjshfskjhfVE</a><br><br>
  <button type="button" name="button" class="primary-button">SAVE</button>
  <a href="#" class="primary-button">ok</a><br><br>
  <button type="button" name="button" class="primary-button">SAVE</button>
  <br><br><br>

  <a href="#" class="cta-button">SAdfjdskjfhsdjfhdsfjkshfkjshfskjhfVE</a><br><br>
  <button type="button" name="button" class="cta-button">SAVE</button>
  <a href="#" class="cta-button">ok</a><br><br>
  <button type="button" name="button" class="cta-button">SIGN IN WITH GOOGLE</button>
  <br><br><br>

  <a href="#" class="outline-button">SAdfjdskjfhsdjfhdsfjkshfkjshfskjhfVE</a><br><br>
  <button type="button" name="button" class="outline-button">SAVE</button>
  <a href="#" class="outline-button">ok</a><br><br>
  <button type="button" name="button" class="outline-button">SIGN IN WITH GOOGLE</button>
  <br><br><br>

  <h1 class="logo-title">Logo Title</h1>
  <br>
  <h1 class="app-title">Application Title</h1>
  <br>
  <h3 class="menu-title">Menu Title</h3>
  <br>
  <h1 class="page-title">Page Title</h3>
  <br>
  <p class="text-label">USER ID <span class="error">*</span></p> <input type="text" name="name" value="">
  <br>
  <select>
    ksjl;kfjs;lfkjsdfj;
  <option value="model">Model</option>
  <option value="saab">longlonglonglong</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
  </select>

</div>
