<script type="text/template" id="users-item-template">
  <div class="name main"><a href="/apps/<?- appId ?>/users/<?- id ?>/edit"><?- user.displayName ?></a></div>
  <div class="role"><?- role.name ?></div>
  <div class="date"><?= date() ?></div>
</script>