<script type="text/template" id="users-item-template">
  <div class="name main"><a href="/apps/<?- appId ?>/users/<?- id ?>/edit"><?- name ?></a></div>
  <div class="role"><?- description ?></div>
  <div class="date"><?= date() ?></div>
</script>