<%- partial("../common/header") %>

<div class="page-wrap">

  <% flash.get("error").forEach(function (message) { %>
    <%- message %>
  <% }) %>

  <%- partial("../common/settings-nav", {currentMenu: "apps"}) %>

  <div class="wrap">
    <div class="page-header">
      <h3 class="page-sub-title">VOLTRON</h3>
      <h1 class="page-title">Add User</h1>
    </div>

    <form id="add-new-app-form" action="/apps" method="POST" class="form wrap">
      <div class="primary">
        <div class="field">
          <label>Name<span class="required">*</span></label>
          <input type="text" name="name" class="value" />
        </div>

        <div class="field">
          <label>Email<span class="required">*</span></label>
          <input type="text" name="email" class="value" />
        </div>

        <div class="field">
          <label>Role<span class="required">*</span></label>
          <div class="dropdown-small">
            <select class="select-small">
            <option value="model">Model</option>
            <option value="saab">saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>

            </select>
            <span class="ico ico-arrow-down3 icon-select"></span>
          </div>
        </div>
      </div>

      <div class="actions">
        <div class="field">
          <input type="submit" value="Save" class="primary-button save-button" />
        </div>
        <hr>
        <div class="history">
          <label class="page-text-1">Created by</label>
          <div class="page-text-2"><%- req.user.displayName %></div>
        </div>
      </div>
    </form>

  </div>
</div>
