// White
$color-white: #ffffff;
$color-white-2: #f0f0f0;
$color-white-3: #f1f1f1;
$color-white-4: #fbfbfb;

//Green
$color-aquamarine: #00d7bd;
$color-aquamarine-2: #01c6ae;

//Black
$color-black: #000000;
$color-black-2: #1a1a1a;
$color-black-3: #2a210b;

//Gray
$color-gray: #f0f0f0;
$color-gray-2: #4a4a4a;
$color-gray-3: #4e4e4e;
$color-gray-4: #c5c5c5;
$color-gray-5: #777777;
$color-gray-6: #aaa;
$color-gray-7: #d2d2d2;

//yellow
$color-yellow: #ffcb0a;

//red
$color-red: #f20a0a;
