// White
$color-white: #ffffff;
$color-white-2: #f0f0f0;

//Green
$color-aquamarine: #00d7bd;
$color-aquamarine-2: #01c6ae;

//Black
$color-black: #000000;
$color-black-2: #1a1a1a;
$color-black-3: #2a210b;

//Gray
$color-gray: #f0f0f0;
$color-gray-2: #4a4a4a;

//yellow
$color-yellow: #ffcb0a;

//red
$color-red: #f20a0a;
