// Base Pixel
$base-pixel: 16;

// Screen Sizes
$small-portrait: 320px;
$small-landscape: 480px;
$tablet-portrait: 600px;
$desktop: 960px;

// Assets Directories
$img-dir: "../images/";
$svg-dir: "../images/svg/";
$fonts-dir: "../fonts/";

// Border Radius
$border-radius: 4px;
$large-border-radius: 7px;