<%- partial("../common/header") %>

<div class="page-wrap">
  <div class="wrap cta-message">
    <h1 class="logo-title">Welcome to Penguin!</h1>
    <br><br>
    <a href="/apps/new" class="primary-button">Create your Application</a>
  </div>
</div>
