<%- partial("../common/header") %>

<div class="page-wrap">
  <div class="wrap cta-message">
    <p>You have no applications yet!</p>
    <a href="/apps/new" class="primary-button">Create one now</a>
  </div>
</div>
