<script type="text/template" id="apps-item-template">
  <div class="image"><div class="ico ico-image2"></div></div>
  <div class="name main"><a href="/apps/<?- id ?>/edit"><?- name ?></a></div>
  <div class="link"><a href="/apps/<?- id ?>/roles">Roles</a>&nbsp;&nbsp;<a href="/apps/<?- id ?>/users">Members</a></div>
  <div class="user"></div>
  <div class="date"><?= date() ?></div>
</script>

<script type="text/template" id="pagination-template">
  <? if(previousPage) { ?>
    <a href="#" class="prev" data-prev-page="<?- previousPage ?>"><span class="ico ico-arrow-left3"></span></a>
  <? } ?>
  <input type="text" value="<?- currentPage ?>" class="page" /> of <?- totalPage ?>
  <? if(nextPage) { ?>
  <a href="#" class="next" data-next-page="<?- nextPage ?>"><span class="ico ico-arrow-right3"></span></a>
  <? } ?>
</script>