<script type="text/template" id="apps-item-template">
  <div class="image"><div class="icon"></div></div>
  <div class="name main"><a href="/apps/<?- id ?>/edit"><?- name ?></a></div>
  <div class="link"><a href="/apps/<?- id ?>/users">Manage users</a></div>
  <div class="user"></div>
  <div class="date"><?= date() ?></div>
</script>