<%- partial("../common/header") %>

<div class="page-wrap">
  <%- partial("../common/settings-nav", {currentMenu: "apps"}) %>

  <div class="wrap">
    <div class="page-header">
      <h1 class="page-title">Applications</h1> <a href="/apps/new" class="add-new"><span class="ico ico-circle-plus"></span></a>
    </div>

    <div class="search-wrap">
      <div class="search-trigger">Search for Applications&hellip;</div>
      <div class="search-box">
        <form method="POST" enctype="multipart/form-data">
          <div class="inner">
            <div class="search-input" contenteditable=""></div>
            <input type="hidden" class="search-map" />
          </div>
        </form>
      </div>
    </div>

  </div>
</div>