%button {
  display: inline-block;

  font-family: $base-font;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  @include transition(background-color .3s ease-out);
  @include border-radius(7px);
}

.primary-button {
  @extend %button;
  min-width: 180px;
  min-height: 40px;
  padding: 10px 20px;
  background-color: $color-aquamarine;
  border: solid 2px $color-aquamarine;

  font-size: 14px;
  letter-spacing: .3px;
  color: $color-white;

  @include hoverStyles() {
    background-color: $color-aquamarine-2;
    border: solid 2px $color-aquamarine-2;
  };
}

.cta-button {
  @extend %button;
  min-width: 180px;
  min-height: 46px;
  padding: 13px 20px;
  background-color: $color-aquamarine;
  border: solid 2px $color-aquamarine;

  font-size: 18px;
  letter-spacing: .7px;
  color: $color-white;
  font-weight: bold;

  @include hoverStyles() {
    background-color: $color-aquamarine-2;
    border: solid 2px $color-aquamarine-2;
  };

}

.outline-button {
  @extend %button;
  min-width: 180px;
  min-height: 46px;
  padding: 13px 20px;
  background: none;
  border: solid 2px $color-aquamarine;

  font-size: 14px;
  letter-spacing: .3px;
  color: $color-aquamarine;
  font-weight: bold;

  @include hoverStyles() {
    background-color: $color-aquamarine;
    border: solid 2px $color-aquamarine;
    color: $color-white;
  };

}



.container {
  margin: 2%;
  padding-bottom: 200px;
}
