input[type="text"],
input[type="password"] {
  @include border-radius(4px);
  height: 32px;
  border: 1px solid $color-gray-4;
  font-size: 14px;
  color: $color-black-2;
  display: inline-block;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  outline: 0;
  font-family: $base-font;
}
select ::after {
  content: "hello:";
}

.input-search {
  height: 32px;
  width: 100%;
  max-width: 450px;
  border: 0 !important;
  font-size: 16px !important;
  color: $color-black-2;
  padding-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline-block;
}

.dropdown-small {
  border: 1px solid $color-gray-4;
  background: $color-white;
  font-size: 13px;
  color: $color-gray-3;
  display: inline-block;
  @include border-radius(4px);
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  position: relative;

  .icon-select {
    zoom: 0.6;
    position: absolute;
    top: 10px;

    right: 10px;
  }

}

.select-small {
  border: 0;
  background: none;
  padding: 5px -2px 5px 10px;
  width: 90px;
  font-size: 13px;
  color: $color-gray-3;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 100;
}

.form {
  input[type="text"],
  input[type="password"] {
    width: 100%;
    max-width: 450px;
    padding-left: 10px;
  }

  input[readonly] {
    background-color: $color-white-2;
  }

  .field {
    @include clearfix();
    margin-bottom: 1em;

    .ico {
      zoom: .7;
      margin-right: 5px;
      margin-bottom: -3px;
    }

    a {
      font-size: 13px;
      color: $color-gray-2;
      text-decoration: none;
      font-weight: 400;
      @include hoverStyles() {
        text-decoration: underline;
      };
    }

    .checkbox {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .3px;
      color: $color-gray-5;
      text-transform: capitalize;
      margin-bottom: -20px;
    }

    label input {
       margin-right:5px;
    }
  }

  label {
    float: left;
    width: 25%;
    font-size: pxEm(13);
    letter-spacing: 1px;
    color: $color-black;
    text-transform: uppercase;
    line-height: 32px;
  }

  .value {
    float: right;
    width: 75%;
  }

  .required {
    color: $color-red;
  }

  .primary {
    float: left;
    width: 70%;
    max-width: 600px;
  }

  .actions {
    float: right;
    width: 30%;
    padding: 0 pxEm(10);
  }

  .normal-text {
    font-size: pxEm(13);
    color: $color-gray-2;
  }

  hr {
    height: 1px;
    background: $color-white-3;
    border: 0;
    margin: 2em 0;
  }

  .history {
    .field {
      margin-bottom: 2em;
    }

    label {
      line-height: 1;
      margin-bottom: pxEm(8);
      display: block;
      width: 100%;
    }
  }
}

.page {
  height: 32px;
  width: 30px !important;
  border: 0 !important;
  border-bottom: 1px solid $color-gray-4 !important;
  text-align: center;
}
