.page-header {
  padding: 2em 0;
  .page-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
  }

  .add-new {
    display: inline-block;
    vertical-align: middle;
  }
}