.logo-title {
  font-family: $base-font;
  font-size: 36px;
  font-weight: 300;
  color: $color-black;
}

.application-title {
  font-family: $base-font;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .5px;
  color: $color-gray-2;
  text-transform: capitalize;
}

.menu-title {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .2px;
  color: $color-gray-2;
  text-transform: uppercase;
}

.menu-title-2 {
  font-family: $base-font;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .5px;
  color: $color-gray-2;
  text-transform: uppercase;
}

.menu-text {
  font-family: $base-font;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .3px;
  color: $color-gray-2;
}

.text-title {
  font-family: $base-font;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: .5px;
  color: $color-black;
  text-transform: capitalize;
}

.text-label {
  display: inline-block;
  font-family: $base-font;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .3px;
  color: $color-black;
}

.error {
  color: $color-red;
}
