<div id="site-nav">
  <header id="site-header">
    <div class="drawer-label">
      <a href="#" id="drawer-menu-link">
        <span class="ico ico-menu5"></span>
      </a>
      <div class="current-app">
        <span class="app-icon"></span>
        <span class="app-name">Penguin</span>
      </div>
    </div>

    <nav id="section-nav">
      <ul>
        <li><a href="#" class="current-menu">Entries</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Models</a></li>
      </ul>
    </nav>

    <div id="current-user-nav">
      <a href="#" class="name">Resurii</a>
      <div class="user-nav"></div>
    </div>
  </header>

  <div id="drawer">
    <div class="drawer-main">
      <div>Applications</div>
      <ul>
        <li><a href="#"><span class="app-icon"></span>Amaterasu</a></li>
        <li><a href="#"><span class="app-icon"></span>Byakugan</a></li>
        <li><a href="#"><span class="app-icon"></span>Voltron</a></li>
      </ul>

      <div>Help</div>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Terms and Conditions</li>
        <li><a href="#">Privacy Policy</li>
      </ul>
    </div>
    <div class="drawer-overlay overlay"></div>
  </div>
</div>