<div class="page-top">
  <header id="site-header">
    <div class="drawer-label">
      <a href="#" id="drawer-menu-link"><span class="ico ico-menu5"></span></a>
      <div class="current-app"><span class="app-icon"></span><span class="app-name">Penguin</span></div>
    </div>

    <nav id="section-nav">
      <ul>
        <li><a href="#" class="current-menu">Entries</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Models</a></li>
      </ul>
    </nav>

    <div id="current-user-nav">
      <a href="#" class="name">Resurii</a>
      <div class="user-nav">
      </div>
    </div>
  </header>
</div>