<%
var menu = {};
menu["profile"] = currentMenu == "profile" ? "current-menu" : "";
menu["apps"] = currentMenu == "apps" ? "current-menu" : "";
menu["roles"] = currentMenu == "roles" ? "current-menu" : "";
%>

<nav class="settings-nav">
  <ul class="wrap">
    <li><a href="/profile" class="<%- menu['profile'] %>">Profile</a></li>
    <li><a href="/apps" class="<%- menu['apps'] %>">Applications</a></li>
  </ul>
</nav>
