<script type="text/template" id="roles-item-template">
  <div class="role main"><a href="/apps/<?- appId ?>/roles/<?- id ?>/edit"><?- name ?></a></div>
  <div class="description"><?- description ?></div>
  <div class="date"><?= date() ?></div>
</script>