<%- partial("../common/header") %>

<div class="page-wrap">
  <%- partial("../common/settings-nav", {currentMenu: "roles"}) %>

  <div class="wrap">
    <div class="page-header">
      <h1 class="page-title">Roles</h1> <a href="/roles/new" class="add-new"><span class="ico ico-circle-plus"></span></a>
    </div>

    <div class="search-wrap">
      <div class="search-trigger">Search for Applications&hellip;</div>
      <div class="search-box">
        <form method="POST" enctype="multipart/form-data">
          <div class="inner">
            <div class="search-input" contenteditable=""></div>
            <input type="hidden" class="search-map" />
          </div>
        </form>
      </div>
    </div>

    <div class="list">
      <div class="list-header">
        <ul>
          <li class="image">&nbsp;</li>
          <li class="name">Name</li>
          <li class="link">Quick links</li>
          <li class="user">User</li>
          <li class="date">Date</li>
        </ul>
      </div>
      <div class="list-body">
        <% for(var i=0;i<10;i++) { %>
          <div class="item">
            <div class="image"><div class="icon"></div></div>
            <div class="name main"><a href="/app/id">App Name</a></div>
            <div class="link"><a href="/app/id/users">Manage users</a></div>
            <div class="user">Alex Santos</div>
            <div class="date">08/10/2015</div>
          </div>
        <% } %>
      </div>
      <div class="pagination">
        <a href="#" class="prev"><span class="ico ico-arrow-left3"></span></a><input type="text" value="1" /> of 4<a href="#" class="next"><span class="ico ico-arrow-right3"></span></a>
      </div>
    </div>

  </div>
</div>
