.settings-nav {
  background: $color-black;
  text-align: center;
  padding-top: 10px;

  li {
    display: inline-block;
    vertical-align: middle;
    line-height: $header-height;
  }

  a {
    display: block;
    position: relative;
    padding: 0 pxEm(20);
    text-align: center;
    min-width: 200px;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;

    &.current-menu:after {
      content: " ";
      width: 100%;
      background: $color-aquamarine;
      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}