<%- partial("../common/header") %>

<div class="page-wrap">
  <div class="wrap cta-message">
    <h1 class="logo-title">Please create a Model!</h1>
    <br><br>
    <a href="/apps/<%- req.param('app_id') %>/models/new" class="primary-button">Create one Now</a>
  </div>
</div>
