<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <script>
      // Check if SVG is supported
      if (document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1")) {
        document.documentElement.className += " svg";
      } else {
        document.documentElement.className += " no-svg";
      }
    </script>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <%- body %>
    <div id="dialog-region" class="popup"></div>
    <script async src="/js/main.js"></script>
  </body>
</html>