<script type="text/template" id="models-item-template">
  <div class="role main"><a href="/apps/<?- appId ?>/models/<?- id ?>/edit"><?- name ?></a></div>
  <div class="description"><?- description ?></div>
  <div class="date"><?= date() ?></div>
</script>