<%- partial("../common/header") %>

<div class="page-wrap">
  <div class="wrap">
    <div class="page-header">
      <h1 class="page-title">Add Model</h1>
    </div>

    <form id="add-new-model-form" action="/apps" method="POST" class="form wrap">
      <input type="hidden" name="appId" value="<%- req.param('app_id') %>" />
      <div class="primary">
        <div class="field">
          <label>Name<span class="required">*</span></label>
          <input type="text" name="name" class="value" />
        </div>
        <hr>
        <h2 class="page-title-2">Fields</h2>
        <div class="field">
          <ul id="sortable" class="accordion-one">
            <li class="sort-item ui-state-default">
              <div class="accordion-bar">
                <div class="title"><input type="text" placeholder="Add new field.." name="fieldName" value=""></div>
                <div class="arrow"><span class="ico ico-arrow-right3"></span></div>
              </div>
              <div class="accordion-body">
                <div class="field">
                  <label>type</label>
                  <div class="dropdown-big">
                    <select class="select-big" name="type">
                    <option value="">Types</option>
                    <option value="string">string</option>
                    <option value="boolean">boolean</option>
                    <option value="integer">number</option>
                    </select>
                    <span class="ico ico-arrow-down3 icon-select"></span>
                  </div>
                  <hr>
                  <div class="field">
                    <label>required</label>
                    <input type="checkbox" name="required" class="value" value="true" />
                  </div>
                </div>
                <hr>
                <div class="field delete">
                  <a href="#"><span class="ico ico-trash"></span>Delete</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="actions">
        <div class="field">
          <input type="submit" value="Save" class="primary-button save-button" />
        </div>
        <hr>
        <div class="history">
          <label class="page-text-1">Created by</label>
          <div class="page-text-2"><%- req.user.displayName %></div>
        </div>
      </div>
    </form>

  </div>
</div>


<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/jquery-ui.js"></script>

<script>
  $(function() {
    $( "#sortable" ).sortable({
      revert: true
    });

    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();
  });

  //accordion

   $(function() {
    $( ".accordion-one" ).accordion({
      collapsible: true
    });
  });

  </script>
