<%- partial("../common/header") %>

<div class="page-wrap">

  <% flash.get("error").forEach(function (message) { %>
    <%- message %>
  <% }) %>

  <div class="wrap">
    <div class="page-header">
      <h1 class="page-title">Add Model</h1>
    </div>

    <form id="add-new-app-form" action="/apps" method="POST" class="form wrap">
      <div class="primary">
        <div class="field">
          <label>Name<span class="required">*</span></label>
          <input type="text" name="name" class="value" />
        </div>

        <div class="field">
          <label>Description</label>
          <input type="text" name="description" class="value" />
        </div>
        <hr>
        <h2 class="page-title-2">Fields</h2>
      </div>

      <div class="actions">
        <div class="field">
          <input type="submit" value="Save" class="primary-button save-button" />
        </div>
        <hr>
        <div class="history">
          <label class="page-text-1">Created by</label>
          <div class="page-text-2"><%- req.user.displayName %></div>
        </div>
      </div>
    </form>

  </div>
</div>
